html, body {
    margin: 0;
    background: url("img/background_pattern.jpg") repeat; /* temporary */
}
.main-header {
    background: #e20e0e;
    position: relative;
    width: 66%;
    height: 20%;
    left: 17%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border: 2px solid gold;
    border-radius: 25px;
}
.main-body {
    position: relative;
    width: 66%;
    left: 17%;
    border: 2px solid gold;
    border-radius: 6px;
    height: 100%;
    background: #ffdddd;
    bottom: 0;
    padding-top: 7px;
}
.internal-div-body-adjustor {
    position: relative;
    width: 96%;
    left: 2%;
    background: inherit;
}
p, pre, span {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
.lunch-menu {
    position: relative;
    width: 90%;
    left: 5%;
}
.lunch-menu-table {
    
}
td {
    border: none;
    text-align: left;
    font-family: sans-serif;
}